<!doctype html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ page.description }}">

    {% if page.splashpage %}
      <title>{{ site.title }}</title>
    {% else %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}

    {% if page.mathjax %}
      <script type="text/javascript"
         src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/mme-capstone/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/mme-capstone/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Belleza">

  </head>

  <body>

    <header style="background-color: #000">
      <div class="title">
        <div style="float: left; margin-right: 20px;"><a href="http://psas.github.io/"><img src="/mme-capstone/images/psas_insignia.png"></a></div>
        <div style="padding-top: 20px;"><a href="/">{{ site.title }}</a> <span style="font-size: 1em"> at Portland State University</span></div>
      </div>
      <div class="desc" style="margin-top: 2px; font-size: 1.3em;">
        <nav><ul>
          <li style="margin-left: 0px;"><a href="/">Home</a></li>
          <li><a href="/lv3/">Launch Vehicle 3</a></li>
          <li><a href="/facilities/">Facilities</a></li>
          <li><a href="/development/">Development Team</a></li>
        </ul></nav>
      </div>
      <div style="clear:both;"></div>
    </header>

    <section>

      <article>
        {{ content }}
      </article>

    </section>

  </body>
</html>

